a {
  text-decoration: none;
}

// ── HEADING SCALE ─────────────────────────────────────────────────────────────

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  line-height: 1.2;
  margin: 0 0 var(--margin-sm) 0;
}

h1 {
  font-size: 7.2rem;
}
h2 {
  font-size: 6.4rem;
}
h3 {
  font-size: 5.6rem;
}
h4 {
  font-size: 4.8rem;
}
h5 {
  font-size: 4rem;
}
h6 {
  font-size: 3.2rem;
}